.active{
    text-decoration: underline;
    color: red;
    padding:0px 10px;
}
.inactive{
    text-decoration: none;
    color:black;
    padding:0px 10px;
}
.pending{
    text-decoration: none;
    font-size: 30px;
     padding:0px 10px;
}